body{
	background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F25%2F83%2F11%2F2583116b735f70d9cec3d32f2b84da9d.jpg&f=1&nofb=1);
}

.container_margin{
	margin-top:25px;
	min-height: 100vh;
}

.jumbotron{
	background:transparent !important;
}

.jumbotron_contacto{
	padding-top:10px;
	padding-bottom:10px;
}

.texto_negro{
	color:black;
}

.texto_icono{
	font-size:36px;
}

.letra_minuscula{
	font-size: 12px;
}

.letra_citas{
	font-size: 18px;
}

.python_r{
	background: linear-gradient(to right, #f0ad4e 0%, #f0ad4e 76%, #337ab7 76%, #337ab7 100%);
}

div.container{
	background-color: white;
	} 

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
		.navbar-brand>img {
		   max-height: 100%;
		   height: 100%;
		   width: auto;
		   margin: 0 auto;


		   /* probably not needed anymore, but doesn't hurt */
		   -o-object-fit: contain;
		   object-fit: contain;

		}
		.card {
			position: relative;
			display: inline-block;
			margin: 50px;
		}
		.card .img-top {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 99;
		}
		.card:hover .img-top {
			cursor: pointer;
			display: inline;
		}