html{
    height: 100%;
}
body{
    background-color:#f3f6f9;
}

.carousel-control-prev-icon {
    filter: invert(100%);
}
.carousel-control-next-icon{
    filter: invert(100%);
}
data-slide-to{
    filter: invert(100%);
}
.jumbotron{
    background-color: #fff;
}
.parallax_title{
    margin-top: 25%;
}
.parallax {
    /* The image used */
    background-image: url("cover.jpg");
  
    /* Full height */
    min-height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color:azure;
}
.parallax_content_1 {
    /* The image used */
    background-image: url("network.jpg");
  
    /* Full height */
    min-height: 250px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    color:azure;
}
.parallax_content_2 {
    /* The image used */
    background-image: url("coding.jpg");
  
    /* Full height */
    min-height: 250px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    color:azure;
}
.parallax_content_3 {
    /* The image used */
    background-image: url("work.jpg");
  
    /* Full height */
    min-height: 250px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    color:azure;
}
.parallax_content_4 {
    /* The image used */
    background-image: url("tools.jpg");
  
    /* Full height */
    min-height: 250px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    color:azure;
}
.sidebar-section {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  
  .sidebar-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      
      /* Position the items */
      // &:nth-child(2) { top: 25%; }
      // &:nth-child(3) { top: 50%; }
      // &:nth-child(4) { top: 75%; }
  }

  .make-me-sticky {
    position: -webkit-sticky;
      position: sticky;
      top: 70px;
      
    padding: 25px;
    background-color: white;
  }
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .sobre_mi{
      display: none;
  }
@media only screen and (max-width: 767px) {
  .sidebar-item{
      display: none;
  }
  .sobre_mi{
    display: block;
}
}
